html
    head
        block scripts
            script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js')
            script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js')
            script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js')
            script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js')
        block styles
            link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css')
            link(rel='stylesheet' href='../css/index.css')

    body
        div.header
            div.row
                div.col-md-1
                    div.logo
                        img.images(src="../images/airbnb-2.svg")
                div.col-md-11
                    div.navbar1
                        ul
                            li
                                a Become a host
                            li
                                a Help
                            li
                                a Sign up
                            li
                                a Log in
        div.intro
            div.row
                div.col-md-12
                    p.label Airbnb
                div.col-md-12
                    p.text Book unique homes and
                div.col-md-12
                    p.text experiences all over the world.
                div.col-md-12
                    div.search
                        div.row
                            div.col-md-1.images1
                                img.images(src="../images/search.svg")
                            div.col-md-7
                                input.input(type="text" name="search" placeholder="Search..")
                            div.col-md-4
                                button.button Search

        div.main
            div.explore
                div.row
                    div.col-md-12
                        h3.label Explore Airbnb
                    div.col-md-12.show
                        div.button
                            p.text
                                span
                                    img.images(src="../images/button.webp")
                                |Home
                        div.button
                            p.text
                                span
                                    img.images(src="../images/button.webp")
                                | Home
                        div.button
                            p.text
                                span
                                    img.images(src="../images/button.webp")
                                | Home
